body{
  font-family: 'Aldrich', sans-serif;
  color: #adad85;
}
/* nav bar  */
#ernestNav{
  display: inline-block;
  height: 100vh;
  position:fixed;
}
#ernestNav ul{
  list-style: none;
}
#ernestNav ul li{
  font-size: 15px;
  margin-top: 10px;
}
#ernestNav ul li:hover{
 color: #ADADBB;
}

.bottomNav{
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
}
#merch button{
  background-color: white;
  border: 1px dotted #adad85;
  border-radius: 10px;
  color:#adad85;
  padding-top: 1px;
}
